## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
# Your code here
sample_list_1 = random.sample(range (100), 80)
print(sample_list_1)

[57, 82, 67, 86, 98, 66, 91, 18, 94, 9, 3, 35, 72, 28, 55, 24, 8, 50, 64, 40, 97, 13, 56, 62, 60, 87, 63, 84, 68, 11, 25, 54, 59, 47, 12, 69, 61, 46, 48, 96, 52, 70, 80, 32, 81, 42, 4, 31, 0, 15, 95, 26, 85, 16, 41, 34, 43, 78, 65, 14, 53, 93, 58, 71, 5, 33, 88, 76, 44, 10, 36, 38, 45, 74, 30, 83, 75, 21, 49, 20]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
# Your code here
sample_list_2 = []
for i in range (0,80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[50, 75, 68, 61, 35, 67, 0, 62, 72, 58, 7, 40, 47, 72, 39, 70, 18, 18, 26, 87, 51, 3, 90, 65, 84, 89, 3, 74, 8, 79, 19, 66, 62, 34, 84, 30, 69, 62, 66, 66, 31, 69, 10, 29, 53, 3, 49, 41, 44, 39, 100, 61, 36, 97, 53, 66, 84, 97, 20, 34, 68, 8, 57, 93, 96, 24, 85, 54, 10, 95, 78, 11, 6, 26, 4, 45, 3, 61, 15, 99]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

print("set reduced sample_list_2 length number to", len(set2), "because sets don't allow duplicate values")

57
set reduced list number to 57 because sets don't allow duplicate values

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{5, 9, 12, 13, 14, 16, 21, 25, 28, 32, 33, 38, 42, 43, 46, 48, 52, 55, 56, 59, 60, 63, 64, 71, 76, 80, 81, 82, 83, 86, 88, 91, 94, 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [42]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{99, 100, 6, 39, 7, 79, 19, 51, 89, 90, 29}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [43]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 3, 4, 8, 10, 11, 15, 18, 20, 24, 26, 30, 31, 34, 35, 36, 40, 41, 44, 45, 47, 49, 50, 53, 54, 57, 58, 61, 62, 65, 66, 67, 68, 69, 70, 72, 74, 75, 78, 84, 85, 87, 93, 95, 96, 97}

#### 8 - Create an empty set called `set6`.

In [52]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [54]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 93, 94, 95, 96, 97, 98}

#### 10 - Check if `set1` and `set6` are equal.

In [55]:
# Your code here
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
# Your code here
check = set2.issubset(set1)
print(check)

check2 = set3.issubset(set1)
print(check2)

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
# Your code here
set_list1 = [set3, set4, set5]
set_list2 = [set1,set2]

set_agg1 = set().union(*set_list1)
set_agg2 = set().union(*set_list2)

set_agg1 == set_agg2

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [63]:
# Your code here
#sets are unordered, so I wont know what item that gets removed. to remove the first item i should use a list
set2list = list(set1)
set2list.pop(0)
print(set2list)

[3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 93, 94, 95, 96, 97, 98]

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
substracted_set = set1 - set_to_remove
print(substracted_set)

{0, 3, 4, 5, 8, 10, 12, 13, 14, 15, 16, 18, 20, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 93, 94, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [104]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [105]:
# Your code here
father_set = set(father_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)

father_set_1 = father_set - Carlos_set
father_set_2 = father_set_1 - Jo_set
father_set_2
# i had an empty set after trying to find the unique the elements that were in father_set
# now i just need the difference between Jo_set and Carlos_set

Jo_set_2 = Jo_set - Carlos_set

print("Jo's list is now:",Jo_set_2)
print("Carlos list, unrepeated, remains the same:", Carlos_set)
print("the father wont have to buy anything :)")

Jo's list is now: {'milk', 'watermelon', 'sugar', 'gums', 'cucumber', 'juice', 'yogurt'}
Carlos list, unrepeated, remains the same: {'garlic', 'tomatoes', 'water', 'cherries', 'toilet paper', 'flour', 'blueberries', 'onions'}
the father wont have to buy anything :)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [106]:
# Your code here
Mattia_set = Jo_set ^ Carlos_set
Mattia_set

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [107]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['juice', 'deodorant', 'toilet paper', 'flour', 'tomatoes', 'cucumber', 'deodorant', 'garlic', 'water', 'vinegar']

In [109]:
# Your code here
mother = ['juice', 'deodorant', 'toilet paper', 'flour', 'tomatoes', 'cucumber', 'deodorant', 'garlic', 'water', 'vinegar']
mother

['juice',
 'deodorant',
 'toilet paper',
 'flour',
 'tomatoes',
 'cucumber',
 'deodorant',
 'garlic',
 'water',
 'vinegar']

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [115]:
# Your code here
mother_set = set(mother)
#print(mother_set)

for i in mother_set.copy():
    if i == "toilet paper":
        mother_set.discard(i)

print(mother_set)

{'garlic', 'tomatoes', 'water', 'vinegar', 'cucumber', 'flour', 'juice', 'deodorant'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [119]:
# Your code here
all_groceries_set = set()
all_groceries_set.update(father_set, mother_set,Mattia_set,Jo_set,Carlos_set)
print(all_groceries_set)

{'water', 'gums', 'cucumber', 'juice', 'yogurt', 'garlic', 'watermelon', 'tomatoes', 'milk', 'sugar', 'cherries', 'vinegar', 'toilet paper', 'flour', 'blueberries', 'onions', 'deodorant'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [123]:
# Your code here
father_set.pop()
father_set

{'cucumber', 'flour', 'gums', 'onions', 'yogurt'}